/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}
/* General Styling */
html{
  overflow: auto;
}

body{
  font-family: 'Roboto Mono',monospace;
  color: white;
  background-color: #222;
  margin: 0;
  overflow: auto;
  letter-spacing: .37px;
}

main{
  margin-top: 7em;
}

h1{
  font-size: 40px;
  font-weight: 900;
  letter-spacing: .96px;
  text-transform: uppercase;
  font-family: 'Rubik',sans-serif;
}

h2{
  font-family: 'Rubik', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  letter-spacing: .37px;
}

a:hover {
  color: red;
  transition: 1s;
}

svg{
  fill: currentColor;
}

ul{
  list-style-type: none;
}

/* Navigation*/
header{
  position: fixed;
  background-color: #0c0707;
  height: 7em;
  overflow: hidden;
  transition: all .2s ease-in;
  z-index: 12;
  font-family: 'Rubik', sans-serif;
}

header nav:first-of-type{
  border-top: solid 5px #c63134;
}

header nav:first-of-type img{
  margin: auto;
  margin-right: 23vw;
}

nav{
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

nav ul{
  display: none;
}

nav ul li{
  margin-right: 2rem;
}

nav img{
  height: 66px;
}

nav span{
  display: block;
  position: relative;
}

nav div{
  justify-content: center;
}

nav span, nav span::before, nav span::after{
  width:2rem;
  height: 3px;
  background: white;
  transition: transform 150ms ease-in;
}

nav span::before, nav span::after{
  content: '';
  position: absolute;
}

nav span::before{
  bottom: 6px;
}

nav span::after{
  top: 6px;
}

nav span.active::before{
  opacity: 0;
}

nav span.active{
  transform: rotate(45deg);
}

nav span.active::after{
  transform: rotate(90deg) translate(-6px)
}

.click{
  padding:1rem;
}

nav ul:nth-of-type(2){
  width: 100%;
  flex-direction: row;
}

nav ul:nth-of-type(2) li{
  width: 15%;
  height:auto;
}

nav ul:nth-of-type(2) li img{
  width: 30px;
  height:auto;
}

/*Banner*/
main section:first-of-type{
  position: relative;
  height: 700px;
  margin-top: 7em;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: #ffffff;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main section:first-of-type article{
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin:0; padding:2em;
  background-color: #222
}

main section:first-of-type article h1{
  margin-top: 4rem;
}

/*Discover games*/
main section:nth-of-type(2){
  display: flex;
  flex-wrap: wrap;
  background-color: #c63134;
}

main section nav:first-of-type{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #dc4144;
}

main section nav ul{
  width: 100vw;
  flex-wrap: wrap;
}

aside{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  background-color: #222;
  padding: .5rem;
}

aside form{
  display: flex;
  justify-content: center;
  width: 100%;
}

aside form input{
  background-color: #0c0707;
  color: #fff;
  border: 0;
  height: 40px;
  width:99%;
  font-size: 14px;
  line-height: 20px;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside ul{
  color: #7c7c7c;
  width: 100%;
  padding-left: .5rem;
}

aside ul li{
  border-top: solid black 1px;
  width: 100%;
}

aside ul li h3{
  color: #fff;
}
main section:nth-of-type(2) nav:last-of-type{
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #2b2b2b;
  width: 100%;
}

main section:nth-of-type(2) nav:last-of-type p{
  padding: 0 2rem;
}

section:nth-of-type(2) div{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

section:nth-of-type(2) div article{
  max-height: 15rem;
  max-width:50%;
  position: relative;
  overflow: hidden;
}

section:nth-of-type(2) div article img{
  height: 50vh;
  width: 100vw;
  position: relative;
  right: 95px;
}

section:nth-of-type(2) div article img:hover{
  transform: scale(1.1);
  transition: all .3s ease-in;
}

section:nth-of-type(2) div article h3{
  position: absolute;
  bottom: 5px;
  left: 10px;
}

/* Shop Items */
main section:nth-of-type(3){
  background-color: #dc4144;
}

main section:nth-of-type(3) h1{
  width: 100vw;
  padding: 2rem;
}

main section:nth-of-type(3) div{
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

main section:nth-of-type(3) article{
  margin: 2rem;
  width: 300px;
}

main section:nth-of-type(3) article:last-of-type img{
  margin-right: 2rem;
}

main section:nth-of-type(3) article img{
  width: 300px;
}

main section:nth-of-type(3) a{
  display: flex;
  align-items: center;
}

main section:nth-of-type(3) a:hover{
  color: #7c7c7c;
}

main section:nth-of-type(3) a img{
  margin-left: 2rem;
  width: 300px;
}

main section:last-of-type article{
  margin: 2rem;
  display: flex;
  align-items: flex-start;
}

main section:last-of-type div:first-of-type{
  width: 30%;
}

main section:last-of-type div:first-of-type img{
  width: 100%;
  height: auto;
  padding-right: 1rem;
  padding-top: 1rem;
}

main section:last-of-type a{
  color: #7c7c7c;
}

main section:last-of-type a:hover{
  color: #fff;
}

main section:last-of-type div:last-of-type{
  width: 65%;
}

/* Footer */
footer section:first-of-type{
  height: auto;
  padding: 2rem;
  background-color: #2b2b2b;
  background-image: none;
}

footer section:first-of-type form {
  display: flex;
  flex-direction: column;
}

footer section:first-of-type form input{
  background-color: #0c0707;
  color: #fff;
  border: 0;
  height: 40px;
  width:90%;
  margin-top: 2rem;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer section:first-of-type form a{
  display: flex;
  align-items: center;
  background-color: #474747;
  color: #fff;
  border: 0;
  height: 40px;
  width:90%;
  font-size: 14px;
  padding-left: 19px;
}

footer section:first-of-type ul{
  padding: 0;
}

footer section:first-of-type ul li{
  margin: 1rem;
  margin-left: 0;
}

footer section:first-of-type svg{
  width: 30px;
  margin-right: 1rem;
}

/* Copyright */
footer section:last-of-type{
  padding: 2rem;
  color: #7c7c7c;
  background-color: #222;
}

footer section:last-of-type a{
  display: inline-block;
  text-decoration: underline;
  color: #fff;
}

footer section:last-of-type a:hover{
  color: red;
}

/* Nav overlay */

.menu{
  background-color: #dc4144;
  height: 100vh;
  z-index: 38;
}

.menu nav{
  flex-wrap: wrap;
}

.menu ul{
  display: flex;
  flex-wrap: wrap;
}

.menu li{
  color: #fff;
  width: 100%;
  font-size: 36px;
  font-weight: 900;
}

.menu li svg{
  fill: #fff;
}

.menu li a:hover{
  transition: 1s;
  color: #0c0707;
}
.menu li svg:hover{
  transition: 1s;
  fill: #0c0707;
}

/* Pagina 2*/
main.nieuws article header{
  position: relative;
  z-index: auto;
  background-color: #dc4144;
  height: auto;
  padding: 2em;
}

main.nieuws article header h1{
  margin: auto;
}

main.nieuws article div img, main.nieuws article div iframe{
  width: 100vw;
}

main.nieuws article div p{
  padding: 2rem;
}

main.nieuws article div h2{
  padding-left: 2rem;
}

main.nieuws article footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  width: 90%;
  border-top: solid grey 1px;
}

main.nieuws article footer svg{
  margin: .2em;
}

main.nieuws video{
  width: 100vw;
  height: auto;
}
